body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-card{
    text-align: center;
}
.task-type{
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
}
.wrapper{
    background-color: aqua;
    border: 3px;
    border-radius: 12px;
}
.comp-section p, .inc-section p{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 10px;
    margin-right: 10px;
}