<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nero ToDo List</title>
</head>
<body>
    <h1>NERO Todolist</h1>
    <form action="{{ url_for('add_task', name=add_name) }}" method = "POST">
        <input type="text" name="add_name" placeholder="Enter the name of the task.">
        <button type="submit">Add Task</button>
    </form>
    <br>
    <ul>
        {% for todo in todos %}
            {% if todo.getTaskStatus() == False %}
                <li >{{todo.getTaskName()}} 
                    <a href="{{ url_for('complete_task', name=todo.getTaskName() ) }}"> Complete </a> 
                    <a href="{{ url_for('delete_task', name=todo.getTaskName() ) }}"> Delete </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>Completed</h1>
    <ul>
        {% for todo in todos %}
            {% if todo.getTaskStatus() == True %}
                <li style="color: green;">{{todo.getTaskName()}} 
                    <a href="{{ url_for('complete_task', name=todo.getTaskName() ) }}"> Complete </a> 
                    <a href="{{ url_for('delete_task', name=todo.getTaskName() ) }}"> Delete </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>