<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nero ToDo List</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- <div class="add-task-button" id="button">+</div> -->
        <div class = "banner-card">
            <h1>TODOLIST</h1>
            <label for="input-file" style="color: white">update image</label>
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" style="display: none">
            <script>
                let bgImage = document.querySelector(".wrapper");
                let inputFile = document.getElementById("input-file");

                inputFile.onchange = function(){
                    console.log("detected change");
                    // bgImage.style.backgroundImage = URL.createObjectURL(inputFile.files[0]);
                    bgImage.style.backgroundImage = "url("+ URL.createObjectURL(inputFile.files[0]) + ")";
                    console.log(inputFile.files[0]);
                }
            </script>
            <div class="banner-content">
                <img src="/static/images/gokuchibi.png">
                <p id="date-month"></p>
                <p>lvl.<span class='bigger' id = 'xp-lvl'></span></p>
            </div>
            <div id="xp-bar"></div>
        </div>
        <br>
        <div class = "task-type">
            <div class="wrapper-content">
                <p>TODO</p>
                <section class = "inc-section">
                    {% for todo in todos %}
                        {% if todo.getTaskStatus() == False %}
                            <p id = "task-row-area" class = "task-row-display">
                                <span id = "class-name">{{todo.getTaskName()}}</span>
                                <span id="task-description" style="display: none;">{{ todo.getDescStatus() }}</span>
                                <span id="task-xp" style="display: none;">{{ todo.getXP() }}</span>
                                <span>
                                <span>
                                    <a id = "complete-task" href="{{ url_for('complete_task', name=todo.getTaskName() ) }}"> Complete </a> 
                                    <a href="{{ url_for('delete_task', name=todo.getTaskName() ) }}"> Delete </a>
                                </span>
                            </p>
                            <div class = "line"></div>
                        {% endif %}
                    {% endfor %}
                </section>
                <section class = "comp-section">
                    <div class="accordion">
                        <div class="accordion-header">
                            <p>Completed</p> 
                            <div class="add-task-button" id="button">+</div>
                        </div>
                        <div class="accordion-content">
                        {% for todo in todos %}
                            {% if todo.getTaskStatus() == True %}
                                <p >
                                    <span style = "color: green;">{{todo.getTaskName()}}</span>
                                    
                                    <span>
                                        <a  href="{{ url_for('complete_task', name=todo.getTaskName() ) }}"> Complete </a> 
                                        <a href="{{ url_for('delete_task', name=todo.getTaskName() ) }}"> Delete </a>
                                    </span>
                                </p>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
    </div>
    <div class="popup-bg" style="display: none;">
        <div class="popup-content">
            <h1>Add a task</h1>
                <form action="{{ url_for('add_task', name=add_name, desc = add_desc) }}" method = "POST">
                    <div class="task-row"><p>Name of Task</p><input type="text" name="add_name" placeholder="Enter the name of the task."></div>
                    <div class="task-row"><p>Description</p><input type="text" name="add_desc" placeholder="Enter the name of the task."></div>
                    <button type="submit">Add Task</button>
                </form> 
        </div>
    </div>

    <div class="task-bg" style="display: none;">
        <div class="task-content">
            <h1>Add a task</h1>
                <form action="{{ url_for('add_task', name=add_name) }}" method = "POST">
                    <p class="task-row">Name of Task</p><input type="text" name="add_name" id = "task-name-row" placeholder="Enter the name of the task.">
                    <p class="task-row">Description</p><input type="text" name="add_name"  id = "task-description-row" placeholder="Enter the name of the task.">
                </form> 
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>